@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Rubik', sans-serif;
}

/* 
.hero{
  background-color: hsl(223, 19%, 93%);
}

.test{
  background-color: hsl(228, 33%, 97%);
} */

.img1{
  background-image: url("https://res.cloudinary.com/dnrkey0cf/image/upload/v1704398053/aup3xcpqwvtqwqbeilqp.png");
}